* {
  box-sizing: border-box;
}

.wholepage-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}



.stickytop {
 position: sticky;
 top: 0;
 border: 5px solid red;
 list-style-type: none;
 /*height: 60px; --- will be used later*/
  /*margin: 5px; */
 padding: 0;
 justify-content: space-around; /*makes space btw top divs - spacebtw puts the two at extreme edge on left and right--so no used.*/
 align-items: center; /*centers the two divs to same position*/
 display: flex;
  /*overflow:hidden */
}

.headerlog div {
  /*border: 5px solid #3882F6; */
 list-style-type: none;
 margin: 5px;
 padding: 0;
 overflow:hidden /*prevents texts from continuing outside list*/
 
}

.headerlog a {
  text-decoration: none;
  color: rgb(88, 76, 76);
  font-size: 28px;
  font-weight: bold;
}
#bottomheadlog a {
  font-weight: 100;
}
.headerlog a:hover {
 background-color: darkred;
}



.navtopright > #unwholelist {
  list-style-type: none;
  display: flex;
  gap: 10px          /*creates margin between the links*/
}


.navtopright li a {
/* border: 5px solid blue; using to show blocks around elements*/
 font-size: 20px;
 text-align: center;
 padding: 10px; 
 color: black;
 text-decoration: none;
 font-weight: normal;
}



 #partners a:hover {
  text-decoration: none;
  color: rebeccapurple;
  background-color: white;
  border: none;
}

#insideservice {
  display: none;
}

#services:hover #insideservice  {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: yellow;
  list-style-type: none;
  margin: 0;
}

#demoLucid {
  background-color: none;
  
}

#dropToggle {

  margin-left: -15px;
  /* background-color: red; 
  border: 2px dashed yellow;
  width: 22px; */

}

#downUp, #updown {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: -10px;
}


#updown {
  display: none;
}

#demoDemo  {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: lightgreen;
  list-style-type: none;
  margin-left: -80px;
}



 

.rightmost {
  border-radius: 5px;
  padding: 15px;
  background-color: #db880b;
  font-weight: 550;
  color: white;
  cursor: pointer;
}

.rightmost:hover {
  border: 1px solid #c48b36;
  background-color: white;
  color: black;
}



.belowsticky {
  /* background-color: #1F2937; */
  /*display: flex; will still use later to flex and wrap the divs*/
  /*flex-wrap: wrap  ..notes up*/ 
  background: url("https://images.pexels.com/photos/13141583/pexels-photo-13141583.jpeg") no-repeat center center;
  background-size: cover;
  height: 500px;
}


.bottomboth {
 display: flex;
 border: 5px solid #ffdead;
 padding: 0px;
 align-items: center;
 justify-content: center;
 gap: 5px; /* I used here to align straingt with the top*/
 height: 100%;
}



.topleft {
  display: flex;
  border: 5px solid pink;
  width: 30%;
  height: 70%;
  padding: 0;
  margin-left: 100px;
  
}


.intopleft h1 {
  /* text-transform: uppercase; */
  font-size: 48px;
  color: #f9faf8;
}

.intopleft p {
  font-size: 18px;
  color: #F9FAF8 
}


.intopleft Button {
   background-color: #db880b;
   border-radius: 5px;
   color: #F9FAF8;
   font-weight: bold;
   font-size: medium;
   padding: 10px 10px;
   cursor: pointer;
   height: 45px;
   
}


.widnheight {
    display: flex;
    border: 5px solid green;
    width: 60%;
    height: 100%;
    margin: 5px;
}
    
.imagerite {                
  border: 5px solid gray;
  display: flex;
  width: 100%;
}


.imagerite img {
  height: auto;
  max-width: 100%;
}



.middle {
  background-color: white;
  border: 5px solid purple;
  display: flex; 
  flex-direction: column;
  
}

.middletop {
 border: 5px solid red;
 margin-top: 2px;
 padding: 0;
 justify-content: center; 
 align-items: center; 
 display: flex;
 overflow: hidden;
 flex-direction: column;
}
#heading {
  width: 50%;
}

#heading > h1 {
  color: rgb(87, 79, 79);
  font-size: 36px;
  text-align: center; /*makes in center even on smaller screens*/
}

#heading > p {
  color: rgb(59, 51, 51);
  font-size: 16px;
  text-align: center; /*makes in center even on smaller screens*/
}

.scrollcontainer {
  display: flex;
  border: 5px solid blue;
  /*flex: 1; */
  height: 65vh;
  width: 100%;
  justify-content: center; 
  align-items: center; 
 
}

.holdboxes {
  display: flex;
  border: 2px solid yellow;
  height: 60vh;
  width: 85%;
  justify-content: center; 
  align-items: center; 
  gap: 5px;
   /* overflow-x: auto;  wont show the button if they are used
      overflow: hidden; */
  position: relative;
  border-radius: 20px;
  
}


.holdbuttons {
  border: 1px solid gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.holdbuttons:hover {
  background:  #d6b98b;
  border-color:  #db880b;
  scale: 1.05;
}

.holdbuttons:active {
  scale: 0.95;
}

#prevBtn, #nextBtn {
  position: absolute;
  cursor: pointer;
}

#prevBtn {
  left: -15px;
}

#nextBtn {
  right: -15px;
}

.box {
  margin-bottom: 20px;
}

#boxone {
  display: flex; /* each div will take up space/full vw*/
  border: 3px dashed black;
  padding: 10px;
  height: 55vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  
}

#boxtwo, #boxthree, #boxfour {
  display: none;
  border: 3px dashed black;
  padding: 10px;
  height: 55vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  
}
#boxtwo {
  background-color: aqua;
}
#boxthree {
  background-color: yellow;
}
#boxfour {
  background-color: red;
}

.allradios {
  position: absolute;
  bottom: 1px;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: rgb(204, 202, 202);
  padding: 2px;
  display: flex;
  gap: 6px;
}

input[type="radio"] {
  margin: 1px;
  cursor: pointer;
  accent-color: red;
  transform: scale(1.2);
}

.middlebuttons {
  border: 5px solid green;
  /*margin-top: 5px;*/
  margin-bottom: 15px;
  padding: 10px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  /*gap: 2px; */
  height: 115vh;
  
}


.emtyOne, .emtyTwo {
  border: 2px solid pink; 
  width: 40vw;
  height: 100%;
  flex: 0 0 40vw;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column; /*used to make the 2 divs in it sit on top eachother*/
  align-items: center;
  justify-content: center;
  padding: 5px; 
  margin-left: 20px;
  margin-top: 1px;
  gap: 10px;
  overflow: auto;
}

.inEmtyTwo {
  background: url("https://research.com/resized/uploads/1747068533_0_3cf91dcb7b.webp?format=large") no-repeat center center;
  background-size: cover;
  height: 67vh;
  border-radius: 100px;
}


  
.inEmtyOne, .inEmtyTwo, .parOne, .parTwo {
   align-self: stretch;
   border: 5px solid blue;
   border-radius: 15px;
   text-align: left;
}
 #inem, #laterinem {
   font-size: 20px;
   color: rgb(103, 97, 97);
}
.inEmtyOne  h1, .parOne h1 {
  font-size: 28px;
  color: rgb(110, 99, 99);
}

#topp, #laterp {
   font-size: 20px;
   color:  rgb(103, 97, 97);
}
.parTwo  {
  font-size: 20px;
  gap: 10px;
  display: flex;
}

.leftParTwo {
  border: 8px solid yellow;
  width: 50%;

}

.rightParTwo {
  border: 5px solid red;
  width: 50%;
}

.all {
  
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(110, 99, 99);
  width: 100%;
  padding: 10px;
  display: flex;
}

.all:hover {
  border: 1px dashed blue;
}

.allIcon {
  display: flex;
  flex-shrink: 0;
}




.aftermiddle {
   display: flex;
   flex-direction: column;
   background-color: #E5E7EB;
   border: 5px solid hotpink;
   margin-top: 2px;
   justify-content: center;
   align-items: center;
   /*gap: 5px; can be used to space the top and bottom div*/ 
   
}

.quotesect, .quotesect2 {
   width: 50%;
} 

.quotesect {
   border: 5px solid green;
   margin-top: 50px; /* top spacing inside the pink div*/
}

.quotesect > p, .quotesect2 > p {
   font-size: 36px;
   color: #1F2937;
   font-style: italic;
}

.quotesect > p {
    margin-top: 1px; /*leaves some space at bottom for other div paragragh*/
}

.quotesect2 {
   border: 5px solid blue; 
   margin-bottom: 50px; /* bottom spacing inside pink div*/
} 


.quotesect2 > p {
   margin: 1px; /*margin of text inside at top and bottom*/
   text-align: right;
}


.lastone {
   display: flex;
   border: 5px solid purple; 
   justify-content: center;
   align-items: center;
}

.lastcon {
    display: flex;
    width: 50%;
    background-color: blue;
    border: 5px solid green;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;  /* It centers the sign-up button that was up */
    margin-top: 50px;
    margin-bottom: 50px;
}

.conla12 {
     display: flex;
     flex-direction: column;
     border: 5px solid hotpink;    
}

.last1, .last1a {
     border: 2px solid white; 
     color: white; 
     text-wrap: wrap;   /*wrap is used, balance can also be used */
}


.last2 > button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: blue;
    font-size: 16px;
    color: white;
}

.footer {
   display: flex;
   border: 5px solid green; 
   background-color: #1f2937;
   color: white;
   justify-content: center;
   align-items: center;
}